[2014-05-06 21:18] arlimus opened #5 "Validate suid-bit removal from /bin/screen"
For multi-user sessions this doesn't work without SUID-bit. Either create an explicit list for these kinds of situations with suid/sgid bits in the readme, or determine if this SUID-bit is an issue or not.

[2014-05-06 23:26] arlimus opened #6 "enable_sysrq-check is faulty"
if sysrq is allowed, the secure sysrq should be pulled in. instead it's being set to false right now, which non-numeric, i.e. wrong

[2014-05-07 10:28] chris-rock opened #7 "enforce security updates"
we should set the default configuration in such a way, that security patches are installed by default.

TelekomLabs/chef-ssh-hardening#5

[2014-05-09 15:30] arlimus opened #8 "properly handle sysctl again"
Some sysctl parameters aren'r propagated correctly. Adjust it.

[2014-05-09 15:39] arlimus opened #9 "forwarding isn't configured"
When setting forwarding to true, it is not configured in the destination box, neither vor IPv4 nor for IPv6.

This is due to issue #8. Listed here separately to let anyone know who stumbles upon this issue.

[2014-05-09 17:06] #7 closed, assigned to nobody

[2014-05-10 09:01] chris-rock opened #10 "Conservative package update"
We should separate package updates from hardening. The current version updates the dependencies for [apt](https://github.com/opscode-cookbooks/apt/blob/master/recipes/default.rb) by using  and upgrades the system on [RHEL](https://github.com/TelekomLabs/chef-os-hardening/blob/master/recipes/yum.rb#L55)

The behavior for apt and yum is slightly different and should be harmonized. I propose, we do n

[2014-05-12 08:27] #6 closed, assigned to nobody

[2014-05-12 08:27] #9 closed, assigned to nobody

[2014-05-12 08:27] #8 closed, assigned to nobody

[2014-05-13 12:59] #10 closed, assigned to nobody

[2014-05-13 13:00] chris-rock opened #13 "More Tests for packages"
- ensure packages are deleted if the flag is set
- try to install unsigned packages
- install insecure package and do a rerun of `os-hardening`

[2014-05-14 07:00] chris-rock opened #15 "Tests for suid bits"
We need a way to test that suid bits are properly set.

[2014-05-14 07:16] #15 closed, assigned to arlimus

[2014-05-14 16:15] #5 closed, assigned to nobody

[2014-05-19 13:43] arlimus opened #19 "remove ntp"
ntp sould move to its own hardening configuration and should not be pulled into base os hardening by default

[2014-05-19 21:46] #19 closed, assigned to nobody

[2014-06-10 17:09] bkw opened #32 "passwordless users not able to log in"
After applying the os-hardening recipe, I could no longer login into the default user via ssh.
Here is what happened:
- The machine was an ubuntu 14.04 LTS vm set up by openstack heat. This creates a default user "ec2-user".
- Without further provisioning, this user has no password. This usually poses no problem for me, since ssh is configured to allow RSA key based login only.
- The user is locke

[2014-06-11 06:36] #32 closed, assigned to nobody

[2014-06-20 20:04] Rockstar04 opened #34 "Tagged Release"
Is there anything I can help finish up so a new release can be tagged?

[2014-06-20 20:16] #34 closed, assigned to nobody

[2014-08-21 11:43] rmoriz opened #41 "ChefSpec and Ohai/Fauxhai: cpu"
Using ChefSpec (with Fauxhai, either Debian 7.6 or Ubuntu 12.04)

[code]

in: os-hardening/recipes/sysctl.rb

[code]

turns out, typical fauxhai node attributes don't contain the attribute required:

https://github.com/customink/fauxhai/blob/master/lib/fauxhai/platforms/debian/7.6.json#L585
https://github.com/customink/fauxhai/blob/master/lib/fauxhai/platforms/ubuntu/14.04.json#L494

This will byt

[2014-08-25 14:48] chris-rock opened #42 "Better error handling for cpu detection"
As reported by @rmoritz we need to identify the CPU properly. If we cannot determine the cpu, we need to fallback to an intel cpu. The affected code is in [sysctl.rb](https://github.com/TelekomLabs/chef-os-hardening/blob/master/recipes/sysctl.rb#L25)

[2014-09-07 13:55] rmoriz opened #44 "sysctl dependency"
Hi,

currently sysctl is tied to a very old version of the sysctl cookbook. Is there a reason for that?

https://github.com/TelekomLabs/chef-os-hardening/blob/master/metadata.rb#L32

vs.

https://supermarket.getchef.com/cookbooks/sysctl

thanks

[2014-09-08 13:53] #44 closed, assigned to nobody

[2014-09-15 15:05] arlimus opened #48 "Procps conditional failing"
I only noticed this on a Ubuntu server 14.04 with chef 11.16.0. This is from a chef-solo run:

[code]

[2014-09-29 23:20] MrMMorris opened #54 "can't convert String into Integer for package 'pam-ccreds'"
I added `include_recipe 'os-hardening'` to my base recipe and ran into this:

[code]

[2014-10-07 21:46] #41 closed, assigned to nobody

[2014-10-07 21:46] #42 closed, assigned to nobody

[2014-10-21 12:58] atomic111 opened #57 "Chef::Exceptions::Exec: yum_package[xinetd] (os-hardening::yum line 50)"
I run Centos 6.5. If i run the os-hardening the first time, it fails with the following error. But the second chef run is successful. I can provide you the virtual machine for testing.

chef-stacktrace ouput:

[code]

![bugreport](https://cloud.githubusercontent.com/assets/7220740/4718390/7995b7fc-5920-11e4-9718-2a544c04df60.png)

[2014-10-21 14:41] #57 closed, assigned to nobody

[2014-10-27 11:41] JannikZed opened #58 "deactivate pw_max_age"
HI,
is it possible, to completely deactivate the pw_max_age security feature? We don't use passwords anyway. As an alternative we could set an maximum password age (maybe something around 10 years?)

[2014-11-20 18:03] arlimus opened #60 "Add /usr/bin/schroot to SUID/SGID whitelist if possible"
Investigate the binary and add it to the default whitelist if it gets cleared.

[2014-12-04 16:09] #58 closed, assigned to nobody

[2014-12-04 17:45] #54 closed, assigned to nobody

[2015-01-19 19:14] FrickX opened #66 "Installation doesnt work"
Hey guys,

awesome work :D

Currently I cant install this nice cookbook.

I've done all the stuff which was in TUTORIAL.md

/usr/local/rvm/gems/ruby-2.2.0/gems/chef-12.0.3/lib/chef/data_bag_item.rb:161: warning: circular argument reference - data_bag
Starting Chef Client, version 12.0.3
Compiling Cookbooks...

Running handlers:
[2015-01-19T20:13:58+01:00] ERROR: Running exception handlers
Running

[2015-01-19 19:20] chris-rock opened #67 "update tutorial.md"
- use chefdk
- use chef zero
- download dependencies with berks

[2015-01-19 19:25] chris-rock commented on #66
@FrickX Thanks for reporting this.

Difficult to say what went wrong. As far as I can see from the logs, chef could not find the cookbook. Could you post the solo.rb? Please ensure the solo.rb is located relative to the cookbooks folder.

If I am not wrong, it looks like you installed chef via gem install (not recommend anymore, but mentioned in our guideline, good catch). For dev environments I r

[2015-01-19 19:44] FrickX commented on #66
Hey Chris,

thx for ur fast response

I've installed at first Chef via the link but it didnt worked too.

After that ive installed it via the gem Command and as you can see didnt worked too.

My directory structure:

cookbooks (the directory)
solo.json
solo.rb

solo.rb:

root@debian:~# head solo.rb
cookbook_path "cookbooks"

[2015-01-19 20:27] chris-rock commented on #66
@FrickX I updated the tutorial. Please take a look here: https://github.com/TelekomLabs/chef-os-hardening/pull/68/files?diff=unified&short_path=81a7b83 Let me know if that worked. We will add some more information for production deployments

[2015-01-19 21:07] #67 closed

[2015-01-20 00:44] FrickX commented on #66
@chris-rock The new tutorial works like a charm. Thx for your help :) :+1:

[2015-01-20 00:44] #66 closed

[2015-01-20 09:26] chris-rock commented on #66
great to hear that worked. Please let us know, if you have any questions

[2015-06-20 11:12] chris-rock opened #79 "Support Centos 7"
Fix: pam_passwdqc handling

[2015-06-23 12:04] johnbellone commented on #79
:+1:

[2015-06-24 23:55] lhriley-tm opened #80 "ERROR: No resource or method named `File' for `Chef::Recipe "sysctl"'"
The following error appears on machines running chef-client 12.4.0. Reverting to 12.3.0 resolves the issue.

[code]

[2015-06-25 01:49] Rockstar04 commented on #80
Is the issue the capitalization? I didnt see anything in the changelog that mentioned that directly.

[2015-06-25 12:56] Rockstar04 commented on #80
Just wanted to let you know that the tiny patch I have submitted in #81 will correct this issue, as soon as another member form the team hits the merge button and we bump the version number you should be good to go.

[2015-06-25 13:05] Rockstar04 commented on #80
@lhriley-tm

The patch has been applied to master and we will be doing some more testing to make sure there are no other suprises from the latest chef-client release.

Until we get a new version release, you can point directly to master to get going again. I'm going to close the issue, but feel free to comment if you have any concerns.

[2015-06-25 13:05] #80 closed

[2015-06-25 20:28] lhriley-tm commented on #80
Excellent. Thanks!

[2015-06-29 09:57] dupuy opened #82 "possible incompatibility with Chef client release 12.4"
Our deployments started failing after the new Chef client release last week; I am currently working on modifying our cloud-init based bootstrap to pin the version of the Chef omnibus installer (unfortunately the cloud-init Chef support doesn't provide any way to do this, so I have to do the installation manually to pin it to a particular version) so I haven't had the time to dive in deep to try to

[2015-06-29 11:20] Rockstar04 commented on #82
This issue was already addressed in #80 and the patch #81.

As an immediate solution until we tag a new release, you can use our master branch, which will successfully converge with the 12.4 client.

[2015-06-29 11:20] #82 closed

[2015-06-29 11:37] dupuy commented on #82
Thanks for the pointer to the existing fix - my apologies for opening a duplicate ticket - I should have checked the closed tickets too, but the GitHub issues UI doesn't encourage that as much as it could.

Maybe twitter and/or a blog post would be a useful way to provide notifications about these kinds of things - I noticed that there's now an Ansible os-hardening repository, would love to know w

[2015-07-04 16:02] paulczar opened #83 "1.3.0 release on supermarket is broken"
Get an error when doing a 'berks upload' that includes the new 1.3.0 from supermarket.

turns out in the packaged released ( but not in the source ) there's a file `os-hardening/templates/.DS_Store` which chef server doesn't know how to handle and flips out.  setting `Berksfile` to pull it from git repo at tag `v1.3.0` works fine.

[2015-07-04 17:11] #83 closed

[2015-07-04 17:12] chris-rock commented on #83
Hi @paulczar Thanks for reporting. I deleted all .DS_Store files and republished to supermarket. Let me know if you have further issues.

[2015-07-07 06:05] ovaistariq commented on #79
+1

[2015-07-07 06:40] ovaistariq commented on #79
The installation of packages can be disabled by setting the following attribute:
[code]

However, a proper fix involves setting up /etc/security/pwquality.conf

[2015-07-07 07:54] chris-rock commented on #79
thanks @ovaistariq for mentioning this. If you are faster with adding a patch for CentOS 7, a PR is welcome.

[2015-07-12 23:03] evaryont opened #84 "Archlinux doesn't have a limits.d directory by default"
`/etc/security/limits.d` doesn't exist by default. It works and is included when it does exist, but needs to be made before https://github.com/hardening-io/chef-os-hardening/blob/master/recipes/limits.rb#L21 is ran. A simple wrapper recipe works:

[code]

[2015-07-14 13:15] Rockstar04 commented on #84
Looks like a fix for this was merged in, you can point Berkshelf to master if you would like to use these changes until we tag a new release.

[2015-07-14 13:16] #84 closed

[2015-09-06 23:29] patcon opened #88 "Don't step into other cookbook's namespaces (ie `packages` cookbook)"
There is a cookbook called `packages`, which should rightfully have that namespace in the node, but this cookbook tried to use it :)

https://github.com/mattray/packages-cookbook/blob/master/attributes/default.rb

https://github.com/hardening-io/chef-os-hardening/blob/master/attributes/default.rb

Is there another namespace we could use, and is it possible to stop using this pattern and stick with

[2015-09-09 00:23] patcon opened #89 "Actually log martians?"
Comment seems to indicate we want to log, but setting is not to:

https://github.com/hardening-io/chef-os-hardening/blob/b5a0a3e34776bd93d6c553f133c46527ebd2d965/attributes/sysctl.rb#L125

This slide also seems to indicate that we want to log:
http://www.slideshare.net/myowntelco/centos-linux-server-hardening#18

[2015-09-29 17:06] mikemoate opened #90 "packages with known issues are not actually removed on debian/ubuntu"
My colleague @JJClements already mentioned this in Gitter at https://gitter.im/hardening-io/general alongside another issue we have encountered.

We have observed that the functionality to remove the list of packages with known issues has only be implemented for the redhat/fedora family of distributions, the debian family implementation is missing. We have also tested this on Ubuntu 14.04 by insta

[2015-09-30 09:53] mikemoate commented on #90
Please bear with me if my questions are somewhat inane, we are new to contributing changes back (and relatively new to Chef). We have benefited from the work of the hardening.io project though, so it is satisfying to be able to give something back (albeit minor initially, though that is a deliberate choice to get us started).

I've looked through the existing functionality for the redhat/fedora di

[2015-10-01 22:51] lfrodrigues opened #91 "Fails when used in conjunction with openldap::auth recipe"
When using both recipes in same machine I get error:
[code]

[2015-10-01 22:54] #91 closed

[2015-10-03 12:52] chris-rock commented on #90
Hi @mikemoate yes you are right. Currently this is only implemented for RHEL based systems. Please go ahead. I am happy to add this PR. If you need any help, just let me know.

[2015-10-03 13:02] chris-rock commented on #89
Hi @patcon Thanks for reporting this. Yes, we should log it by default. See also [CIS Benchmark reference in section 4.2.4 Log Suspicious Packets (Scored)](https://benchmarks.cisecurity.org/tools2/linux/CIS_CentOS_Linux_7_Benchmark_v1.0.0.pdf)

sysctl should have the following values by default:
[code]

[2015-10-14 12:42] mikemoate commented on #90
@chris-rock initial pull request for this is now up for comment, apologies it took a bit longer than I hoped.

[2015-10-15 14:56] chris-rock opened #94 "tests fail in travis"
There is an issue with ruby dependencies in combination with travis:

[code]

[2015-10-16 19:45] patcon opened #95 "`execute[update-pam]` copied resource fails on chef-client 12.5"
Failure log output: https://gist.github.com/patcon/32e942c560dee6727f43

Line in question: https://github.com/hardening-io/chef-os-hardening/blob/master/recipes/pam.rb#L96

I assume this has something to do with the fact that resource copying has been deprecated to awhile, and the behaviour this resource-use pattern depends on is no longer how Chef works.

We could fix this by instead adding this

[2015-10-28 10:50] #94 closed

[2015-11-04 22:56] cmjosh commented on #95
I just hit this on a node running chef-client 12.5.1 myself. This workaround using chef_rewind appears to work (on Ubuntu 14.04) for me until a proper fix is implemented:

[code]

[2015-11-20 23:47] #90 closed

[2015-11-24 23:07] mikemoate commented on #95
@patcon are you working on a fix for this issue? If not, I'd be happy to take a look.

[2015-11-25 06:22] patcon commented on #95
Hm. Go figure. I didn't remember solving it, but I'm not hitting the issue anymore, so I checked, and I guess I had an unsubmitted bugfix :) #100

[2015-11-29 17:10] chris-rock opened #102 "pam_passwdqc installation fails on CentOS 7.1"
[code]

[2016-01-21 02:58] boldandbusted commented on #102
Has this been applied.

[2016-01-21 03:00] virtadpt commented on #102
We just got caught by it here, too.  It seems like a pretty straightforward fix, just make a conditional for RHEL/CentOS 7 that replaces it with the pam_pwquality package.

[2016-01-21 12:49] chris-rock commented on #102
@virtadpt & @boldandbusted please go ahead and open a PR to fix this

[2016-02-01 19:16] boldandbusted opened #105 "If I "enable" core dumps with chef-os-hardening, am I really fully enabling core dumps?"
We have a need to enable core dumps on production to assist our developers in troubleshooting "interesting" problems. While I see that chef-os-hardening has facilities to disable core files, is the converse true?

Basically, I'll want to do this: http://www.kibinlabs.com/re-enabling-core-dumps-redhat-7/

Thanks! :)

[2016-02-05 09:03] artem-sidorenko opened #106 "Selinux enforcing support for RHEL/Centos?"
Question: should selinux support be included in this cookbook? If yes, that are the views on implementation?

Suggestion:
- New attribute like `selinux_mode` with following options: enforcing, permissive, unmanaged(default).
- No option `disabled` because reboot is required for that change
- selinux_mode = enforcing | permissive  results to the change of `/etc/sysconfig/selinux` and `setenforce` e

[2016-02-09 00:54] boldandbusted commented on #79
FYI, this is covered by https://github.com/hardening-io/chef-os-hardening/pull/104 :).

[2016-02-16 09:53] #79 closed

[2016-02-16 09:53] chris-rock commented on #79
Thanks @boldandbusted for this addition

[2016-03-01 09:02] runningman84 opened #107 "Umask"
If I use the os-hardening framework, several cookbooks like rabbitmq and sensu(-plugins) fail to install.

It looks like chef itself uses umask 0007 for all operations. If I install any gem it is not readable by others anymore. How would you solve these issues?

[2016-03-01 18:28] foonix commented on #107
The setting originates from [NSA's guidelines](https://www.nsa.gov/ia/_files/os/redhat/NSA_RHEL_5_GUIDE_v4.2.pdf), the description of which provides some guidance.

From what I gather, the general idea is to force the issue of deciding which users should have access to which files.  Sorting through these issues will make the system more secure by preventing unrelated services from reading each oth

[2016-03-09 19:41] lcc2207 opened #110 "login.defs - CREATE_HOME"
Is there a way to add CREATE_HOME   yes to the login.defs file during deployment?

[2016-04-18 23:07] rljohnsn opened #112 "pam recipe failing with chef client > 12.8.1"
OS image: Amazon Linux AMI release 2015.09 (ami-f0091d91)
chef-solo: 12.9.38
ohai: 8.14.0
chef-solo log: https://gist.github.com/rljohnsn/36cdf0e8525f5113a56afd8a69c85cfc
ohai output: https://gist.github.com/rljohnsn/8cd4b428e73c3d465376b072183787ba

Some where along the way, it appears, the node attributes are wonky on Amazon Linux Image
node['packages']['pam_ccreds'] attribute get set to JSON of

[2016-04-18 23:42] rljohnsn commented on #112
I hacked in some log outputs at the top of pam.rb to verify the attributes being used in the recipe:

[code]

[2016-04-20 02:56] rljohnsn commented on #112
Beginning to wonder if it's actually the latest Chef Client version. Seeing the same behavior on a different distro. Additionally first run of chef works, successive runs get similar errors to the above.

OS Image: Centos 6.7
chef-solo: 12.9.38
ohai: 8.14.0
chef-solo log: https://gist.github.com/rljohnsn/60cacdc8e39ffacbd997036555339b5e

[2016-04-20 03:15] rljohnsn commented on #112
Forcing previous version of chef-solo and the errors go away.
chef-solo: 12.8.1 works.

[2016-04-20 03:46] #112 closed

[2016-04-20 04:20] rljohnsn commented on #112
https://github.com/chef/chef/issues/4849

[2016-04-20 17:26] lamont-granquist opened #113 "attributes need to be localized to the `node['chef-os-hardening']` namespace"
Issue to track #88 in case that PR gets closed without getting merged because its out of date now.

The way this cookbook stomps on attributes namespaces violates long-standing policy regarding cookbook attribute namespacing (that predates our RFC process by many years so I don't have a convenient authoritative URL to point at).

See https://github.com/chef/chef/issues/4849 for example issue getti

[2016-04-29 11:22] #89 closed

[2016-04-29 11:28] #102 closed

[2016-05-25 09:21] chris-rock opened #115 "Use travis for integration testing"
With the new InSpec profiles, we are able to easily run them everywhere, eg via test-kitchen with kitchen-dokken.
By using docker, we'll run into https://github.com/docker/docker/pull/19265 therefore we may have to deactivate the sysctl tests for docker at the moment.

[2016-06-02 00:26] rljohnsn opened #118 "pam node attribute namespace error"
Missed an attribute in the name space merge.
https://github.com/dev-sec/chef-os-hardening/blob/106585dda7b15b1a844b5547f8d39a6b8b3124f7/recipes/pam.rb#L111

[code]

[2016-06-02 00:40] rljohnsn commented on #118
This started happening to us when our Berks config pulled in the latest from master
Berksfile
[code]
chef solo run via packer.io
[code]
Our test-kitchen build was green when it was 1.3.1
[code]

We have resolved this internally by specifying the tag in Berksfile
[code]

[2016-06-02 07:50] #118 closed

[2016-06-09 08:11] atomic111 opened #121 "fixing the 4 rspec failure"
rspec ./spec/recipes/login_defs_spec.rb:36 # os-hardening::login_defs uses uid_min and gid_min in /etc/login.defs
rspec ./spec/recipes/sysctl_spec.rb:31 # os-hardening::sysctl intel should detect intel cpu
rspec ./spec/recipes/sysctl_spec.rb:47 # os-hardening::sysctl amd should detect amd cpu
rspec ./spec/recipes/sysctl_spec.rb:61 # os-hardening::sysctl fallback should detect intel cp

look at tra

[2016-06-09 08:11] chris-rock commented on #113
This is solved in master and version 2.0.0-beta

[2016-06-09 08:11] #113 closed

[2016-07-10 09:25] gregorkistler opened #122 "login.defs.erb contains a non-ASCII character which causes a knife cookbook upload failure"
_$ knife cookbook upload os-hardening_
ERROR: ArgumentError: invalid byte sequence in US-ASCII

_$ grep --color='auto' -P -n "[\x80-\xFF]" cookbooks/*/templates/*/*_
cookbooks/os-hardening/templates/default/login.defs.erb:95:# If set to yes, userdel will remove the user**??**s group if it contains no more members, and useradd will create by default a group with the name of the user.

Original cont

[2016-07-11 07:50] atomic111 commented on #122
Hi @gregorkistler,
thanks for finding this. i will fix this in the next couple weeks.

[2016-07-25 19:26] atomic111 commented on #121
fixed with #124

[2016-07-25 19:26] #121 closed

[2016-07-25 19:27] atomic111 commented on #122
fixed with #124 @gregorkistler

can we close the issue

[2016-07-25 20:33] gregorkistler commented on #122
@atomic111 yep, can be closed, thank you.

[2016-07-25 20:33] #122 closed

[2016-10-04 19:53] GinoHereIam opened #129 "Openhub is not up to date"
Hi,

your site on [https://www.openhub.net/p/chef_os_hardening](https://www.openhub.net/p/chef_os_hardening) is not up to date.

BR
Gino

[2016-11-11 10:43] artem-sidorenko commented on #129
@GinoHereIam I've updated all listed projects of this org on openhub. Thank you for the hint!

[2016-11-11 10:43] #129 closed

[2016-12-14 17:19] rjhornsby opened #134 "pam_passwdqc package install idempotence"
In some situations, there's an idempotence issue with (at least) the `pam_passwdqc` package. If the package is already installed, the chef run will fail and error out:

[code]

This problem can be reproduced by converging twice. It wouldn't be picked up by automated testing because the first run is fine. I discovered the issue because I'm trying to use the cookbook on images which already have the

[2016-12-14 17:48] artem-sidorenko commented on #134
@rjhornsby thank you for bug report!

Yes, ohai populates the `node['packages']` and probably we have a namespace clash in the currently released versions of this cookbook. This was already fixed in the master (dev-sec/chef-os-hardening#116 and dev-sec/chef-os-hardening#114) and it is planned for 2.0 release (it will take some time)

I tested the current master on centos-6.8 and can not reproduce

[2016-12-14 18:00] rjhornsby commented on #134
Thanks @artem-sidorenko. You're right - the namespace collision does appear to be fixed in master. I was using 1.4.1.

Apologies for not looking to see that master was ahead of the latest tagged release.

[2016-12-14 18:00] #134 closed

[2016-12-17 11:54] artem-sidorenko commented on #115
Resolved by #117

[2016-12-17 11:54] #115 closed

[2017-02-11 16:59] artem-sidorenko commented on #107
@runningman84 sorry for a very late answer. @foonix answer it right, if this umask is 'too strong' for you our you don't want to have it this way: you can set/change the according attribute of this cookbook.

I'm closing this issue, feel free to reopen it or create another one if you see any discussion need or have any improvement ideas. We try to react a bit better than in the past and to get thi

[2017-02-11 16:59] #107 closed

[2017-02-13 19:06] artem-sidorenko opened #142 "Integration testing of this cookbook in the CI"
Currently we only run unit tests/lints. Its not easily possible to test this cookbook in the same way like we do with chef-ssh-hardening (kitchen-dokken): we change here tonns of OS parameters.

What about to have a proper integration testing via IaaS?

- I already [did it with digitalocean](https://gitlab.com/artem-sidorenko/chef-rkt/blob/master/.kitchen.yml) and it works just fine
- Another opti

[2017-02-14 14:27] chris-rock commented on #142
I like the idea, especially since not all parameters can be tested properly in a docker container. Do you think we should activate the current kitchen-dokken setup for this cookbook too?

[2017-02-14 15:29] artem-sidorenko commented on #142
I'm not sure this will work properly: we change a lot of really system related things, which are probably not covered by kernel namespaces (e.g. some sysctl flags related to tcp/ip)

We can try that and see if it works

[2017-02-14 15:33] ehaselwanter commented on #142
it would be cool to be able to switch off the kernel related tests anyways. I run the inspec suite against docker images (as the target) and at the moment I switch dem off with a profile.

[2017-02-14 17:50] chris-rock commented on #142
@artem-sidorenko we could add an inspec attribute if required to our baseline tests. Kitchen supports inspec attributes already.

[2017-02-14 18:00] artem-sidorenko commented on #142
@chris-rock It makes definitely sense to add some flag(s) to the chef-os-hardning and to the linux-baseline, which would allow use-case like @ehaselwanter described and enable a partly testing with containers. However I'm not sure about the short-term perspective of this.

What about following suggestion?
 - right now we add DO "full-vm" integration testing support like described (its straight-for

[2017-02-14 18:03] chris-rock commented on #142
@artem-sidorenko lets go with that approach. Lets have a discussion, what we expect from a bare container. cc @atomic111

[2017-02-15 07:36] ehaselwanter commented on #142
sounds good to me :-)

[2017-02-16 19:59] artem-sidorenko commented on #142
@chris-rock @ehaselwanter @atomic111 please have a look and review the #144

[2017-03-13 12:07] chris-rock opened #145 "auditd package is not installed"
According to https://github.com/dev-sec/linux-baseline/blob/master/controls/package_spec.rb#L79-L103 we need to add the package `auditd`

[2017-03-22 17:38] chris-rock opened #148 "release 2.0 in supermarket"
@artem-sidorenko Do you see anything that prevents us to release the current master as v 2.0.0? Supermarket still uses 1.4.1

[2017-03-22 18:46] artem-sidorenko commented on #148
My view/plan for 2.0 was:
 1. fix the tests/get CI green - currently only the audit stuff is missing, so this point might be seen optional
 2. fix the attributes, which depend on other attributes (see [this](https://github.com/dev-sec/chef-ssh-hardening/issues/140#issuecomment-267779720) for details). Because of changing cookbook behavior this is a must in my eyes for 2.0

I try to cover the secon

[2017-03-22 19:44] chris-rock commented on #148
@artem-sidorenko just to make sure, I am talking about os-hardening 2.0

[2017-03-22 19:46] artem-sidorenko commented on #148
@chris-rock right, this comment just describes the problem in detail. We had this problem in ssh-hardening in one place as far I remember, in os-hardening there are several places with this problem

[2017-03-22 19:50] artem-sidorenko commented on #148
@chris-rock Example, if I want to properly enable IPv6 I have to do something like this:

[code]

[2017-03-22 19:52] chris-rock commented on #148
Makes sense.

[2017-03-28 18:20] artem-sidorenko commented on #148
As soon as #149 and #150 are reviewed and merged we can release the 2.0.0 from my point of view

[2017-03-30 07:52] artem-sidorenko commented on #148
@atomic111 @chris-rock once #151 is merged I would like to release 2.0.0. What do you think?

[2017-04-07 06:08] artem-sidorenko commented on #148
2.0.0 is released

[2017-04-07 06:08] #148 closed

[2017-04-08 09:06] artem-sidorenko opened #153 "['os-hardening']['desktop']['enable'] is missing in 2.0.0"
how it looks like it was removed in GH-114 and never got back

For me it broke some deployments, I would provide a fix for 2.0.1 patch release

[2017-04-10 18:22] #153 closed

[2017-04-11 11:56] artem-sidorenko opened #155 "Testing of chef 13 in the CI"
It makes sense to have chef 12 and chef 13 testing in the CI, I'll have a look here

Edit: initially it was a bug report about chef 13 support, in the end I discovered a mistake in my test environment

[2017-05-05 21:13] MattMencel opened #156 "PAM conflicts between os-hardening and sssd_ldap cookbooks"
I use the sssd_ldap cookbook on my nodes which uses authconfig to modify PAM settings.  Now I've started testing this cookbook and see that it's overriding the modifications the sssd_ldap cookbook has made.  I can still SSH into the node using my LDAP creds, but attempting to use sudo fails with a bad or incorrect password warning.

I'm willing to create a pull request, but I'm not sure which dire

[2017-05-10 18:17] artem-sidorenko commented on #156
For me the most simple and simple way looks like introduction of new attribute `['os-hardening']['auth']['pam']['enable']`. Per default its `true`, if switched to `false` - the entire `pam` recipe is not executed.

@MattMencel would this solve your problem?

@chris-rock @atomic111 opinions?

[2017-05-10 21:26] MattMencel commented on #156
Works for me if it works for you.  I'll try to get a PR in on it in the next day or so.

[2017-05-12 19:56] #155 closed

[2017-05-13 12:33] artem-sidorenko commented on #48
The problem is somewhere on the line 88, where we had a sysctl version expression. As we do not have it anymore, I do not think this issue is still there. Feel free to reopen if needed

[2017-05-13 12:33] #48 closed

[2017-05-22 16:19] grdnrio commented on #145
+1 - required for 100% coverage of the baseline profile

[2017-05-22 16:40] artem-sidorenko commented on #145
#158 was not complete, audit has different package names on different distros. I'll provide another PR

[2017-05-22 17:15] artem-sidorenko commented on #145
#161 should resolve this

[2017-05-22 17:38] #145 closed

[2017-06-26 10:23] artem-sidorenko opened #165 "Removal of core dump hardening configuration if core dumps are allowed"
See https://github.com/dev-sec/puppet-os-hardening/issues/68 and https://github.com/dev-sec/puppet-os-hardening/pull/91

[2017-08-10 19:00] jonasduarte opened #166 "Cookbook fails on CentOS Linux release 7.2.1511 - kernel.exec-shield"
When running the cookbook from the supermarket on a CentOS Linux release 7.2.1511 node, AWS AMI ami-6d1c2007, I get the following error:

###############################################

"Running handlers:
       [2017-08-10T15:51:30-03:00] ERROR: Running exception handlers
       [2017-08-10T15:51:30-03:00] ERROR: Running exception handlers
       Running handlers complete
       [2017-08-10T15:5

[2017-08-14 19:13] bdwyertech commented on #166
Yep, that block should be yanked or the guard needs to be adjusted to only apply to CentOS/RHEL <7

In RHEL7+ exec-shield is enabled by default and the /proc entry has been removed.

[code]

[2017-08-14 22:23] djessich commented on #166
Same issue here. Indeed, unsetting the attribute using comments does work. Currently this bug fails all my chef-client runs, any idea when a bugfix will be available?

[2017-08-15 07:07] artem-sidorenko commented on #166
I'll have a look this week

[2017-08-15 08:23] artem-sidorenko commented on #166
@bdwyertech can you maybe link me to the source of this changelog?

[2017-08-15 10:26] artem-sidorenko commented on #166
This issue got visible due a refactoring of sysctl cookbook (https://github.com/sous-chefs/sysctl/pull/61) in 0.10.0.

I will fix it, however I'm not completely happy with some upstream changes in sysctl and would like to get them fixed as well. So my idea is to introduce a version pinning in the mean time for sysctl dependency like `=< 0.9.0`. @bdwyertech @jonasduarte @djessich what do you think

[2017-08-15 13:18] jonasduarte commented on #166
That sounds good to me. Another options is to introduce a check for the CentOS/RHEL version <7, like suggested by @bdwyertech.

rgs.

[2017-08-15 13:47] artem-sidorenko commented on #166
@jonasduarte yes, the idea is to have a fix (check for rhel 7) and version pinning in the same time

[2017-08-17 11:03] atomic111 opened #167 "os-10 from linux-baseline is missing"
The os-10 from the inspec linux-baseline is missing. Do we want to implement this?

Issue: https://github.com/dev-sec/linux-baseline/issues/80

PR in linux-baseline: https://github.com/dev-sec/linux-baseline/pull/71

[2017-08-17 12:34] artem-sidorenko commented on #167
Yes, I will do that somewhere this week

[2017-08-20 20:24] #166 closed

[2017-08-20 20:30] bdwyertech commented on #166
I'm guessing the version pinning of sysctl is due to the whole one file per sysctl value? @artem-sidorenko I see why that's a pain in the butt, I'm not really sure how I feel about it either

[2017-08-21 12:03] artem-sidorenko commented on #166
@bdwyertech right, this is the point. I understand the reason for going this way, as sysctl devs refactored the cookbook to the chef 12.5-resources, what probably even makes sense. I miss however the cleanup of old files, which are unmanaged now. So you can run into situation, if you do a switch of some sysctl flag, it will have no effect because of the old file.

[2017-08-21 12:05] artem-sidorenko commented on #166
2.1.1 is released with this fix

[2017-08-21 12:36] #167 closed

[2017-09-01 22:19] eyespies opened #170 "Version Tagged as 2.1.1 is not 2.1.1"
I just started using this cookbook and the corresponding Inspec tests (thank you for these!). I added the cookbook and ran the tests, however the tests fail with the following:

[code]

I checked my local cookbook in ~/.berkshelf/os-hardening-2.1.1/ and the metadata.json does show it as version 2.1.1, however it is missing all of the code / attributes that are in the master branch to disable those

[2017-09-02 06:49] artem-sidorenko commented on #170
@eyespies thanks for this issue!

Its not related to tagging, the problem you are facing here is fixed with GH-169, which is not part of 2.1.1. How it looks like: you are using the inspec tests from master of linux-baseline (which includes this tests), but in the same time you use the 2.1.1 version of this cookbook from supermarket (which does not have the FS blacklisting implementation). As a wor

[2017-09-02 06:49] #170 closed

[2017-09-02 14:32] eyespies commented on #170
@artem-sidorenko - thank you for the response. So if I understand, GH-169 is not yet in a released version, correct? And until it is released, I need to not only add chef-os-hardening to my metadata.rb, but also add a custom reference to the master branch of this repo in Berksfile so that Berks pulls the latest code which is listed as version 2.1.1)?

If so, I think the confusion is that GH-169 is

[2017-09-13 06:59] artem-sidorenko commented on #170
yes, yes

@eyespies its okay to ask `so many questions` :) I do not think its covered in our CONTRIBUTING file. The release way is usually different for different projects/cookbooks:
 - some cookbooks get always released after a single PR merge, so you always have a version bump after PR merge
 - some cookbooks get released after a set of changes, where version bump is done at some point manually

[2017-10-16 09:05] artem-sidorenko commented on #105
@boldandbusted sorry for huge delay :) This should be resolved by https://github.com/dev-sec/chef-os-hardening/pull/171. I'm closing this, feel free to reopen if needed

[2017-10-16 09:05] #105 closed

[2017-10-17 17:42] artem-sidorenko commented on #142
I'll close this as we have now integration tests

[2017-10-17 17:42] #142 closed

[2017-10-18 22:06] robcoward commented on #170
Any chance of a version bump so that #169 can get released please ?

[2017-10-19 06:59] artem-sidorenko commented on #170
@robcoward there are some PRs pending for review, there is also an upcoming PR with selinux feature. After they all are merged - there will be a new major release. Is it ok for you?

[2017-10-19 08:24] robcoward commented on #170
Hi @artem-sidorenko thanks for the prompt reply. If its coming soon, I'm happy to wait 😃

It will be good to get the cookbook back inline with the inspec profile, with it remedying the issues highlighted by the tests. Your hard work is much appreciated.

[2017-10-19 19:50] #165 closed

[2017-10-21 19:14] artem-sidorenko commented on #106
Fixed by #173

[2017-10-21 19:14] #106 closed

[2017-10-21 19:51] artem-sidorenko commented on #13
For me its not completely clear what this issue is about, I'm closing it. Feel free to reopen if needed

[2017-10-21 19:51] #13 closed

[2017-10-21 19:52] artem-sidorenko commented on #95
It looks like this issue is not happening anymore, I'm closing it. Feel free to reopen if needed

[2017-10-21 19:52] #95 closed

[2017-10-21 19:54] artem-sidorenko commented on #110
@lcc2207 sorry for a very late response. Its possible to add/change the login.defs, I'm not sure about the use case and if its still required. I'm closing this issue, feel free to reopen if needed

[2017-10-21 19:54] #110 closed

[2017-10-21 19:55] artem-sidorenko commented on #60
Not sure if this is still required, I'm closing this issue. Feel free to reopen if needed

[2017-10-21 19:55] #60 closed

[2017-10-21 19:56] artem-sidorenko commented on #156
@MattMencel not sure if this issue is still relevant. I'm closing it, feel free to reopen if needed

[2017-10-21 19:56] #156 closed

[2017-11-21 23:14] shoekstra opened #180 "Convert integration tests to use docker"
Hi @artem-sidorenko @chris-rock ,

Any objection to creating a PR that updates the travis job to use chefdk and docker images instead of DO instances?  Would be good to get feedback in PRs w/o needing to fork it somewhere and would get quicker response if using docker.

But perhaps there was a reason to use DO so thought to ask here before creating PR.

Cheers,

[2017-11-22 10:21] artem-sidorenko commented on #180
@shoekstra thanks for raising this question! The problem is, you can't test everything of this cookbook within containers: you need a real system. This is due to the lots of system changes, which you can't really do within a container, e.g. sysctl flags or similar things. Possible and acceptable way would be to split the things and to test a subset within container always and other options with re

[2017-11-22 13:58] shoekstra commented on #180
That sounds reasonable.  My main reason for asking was for the ability to run tests as contributor without relying on someone to fork and manually run the tests.

Perhaps you could include the DO tokens in the run as [travis encrypted variables](https://docs.travis-ci.com/user/environment-variables/#Encrypting-environment-variables) sometime in the future?

I'll close this for now, thanks for the

[2017-11-22 13:58] #180 closed

[2017-11-22 14:05] artem-sidorenko commented on #180
@shoekstra yes, I know :-(

This would not help here. The encrypted vars are available only for the base repo, but not the forks. In the current setup you can add your DO token to your fork configuration in the travis. Via this you will get running CI for your fork. (but PRs are again a bit different here due to travis, as you have two CI runs in the PR)

[2017-11-23 18:54] artem-sidorenko opened #182 "Management of auditd is missing"
Tests for it are included in the linux-baseline, but we do not have any implementation within this cookbook (See #181)

[2017-11-28 22:55] artem-sidorenko opened #183 "Usage of azure as cloud provider for CI"
it can be done with [kitchen-azurerm](https://github.com/test-kitchen/kitchen-azurerm)

Advantages:
 - billing per minute instead of per hour (DO)
 - enterprise linux destros available, so we can test on real RH and/or Suse

disadvantages:
 - bigger spin-up time for VMs (DO 30 secs vs 2-3 mins Azure)
 - **a bit** more complicated setup for test-kitchen (2 more environment variables)

I also checke

[2017-11-30 08:32] atomic111 commented on #183
this sounds good. is there a possibility that the pr from a fork are also be checked?

[2017-11-30 10:55] artem-sidorenko commented on #183
@atomic111 unfortunately not. This has nothing to do with cloud provider itself, see details below:

- auth token is required to spawn VMs. This token has to be secret, otherwise somebody would consume resources and we would pay for it
- Travis enables this secret token only for the repository, where the token is configured (see docs on secret variables). In our case this is a base repo, everybody

[2018-01-17 00:54] majormoses commented on #183
Is there some reason to not use `kitchen-docker`, `kitchen-dokken`, or similar? Pretty sure we would be able to test anything we want leveraging travis-ci. No cost other than someone's time which would be true either way. This removes the need to expose any external provider keys other than supermarket if you would like to publish on tagged commits. Also pretty sure that azure and google now do pe

[2018-02-01 00:50] iennae opened #185 "Question about the default for client_alive_interval"
The default for   server['client_alive_interval']    = 600     # 10min is currently 600. The default value fails the Ensure SSH Idle Timeout Interval is configured test:

  ×  xccdf_org.cisecurity.benchmarks_rule_5.2.13_Ensure_SSH_Idle_Timeout_Interval_is_configured: Ensure SSH Idle Timeout Interval is configured (1 failed)
     ✔  File /etc/ssh/sshd_config content should match /^\s*ClientAliveInt

[2018-02-01 08:08] artem-sidorenko commented on #183
@majormoses We are using kitchen-dokken in chef-ssh-hardening and/or other cookbooks. I tried it already in the past for chef-os-hardening, the problem was: we are making many kernel related configurations which were not possible within container (I guess even in the privileged mode).

PR #184 might be a small improvement to this situation - we could run some tests with kitchen-dokken and all test

[2018-02-01 08:18] artem-sidorenko commented on #185
@iennae thanks for raising this!

Isn't this related to [chef-ssh-hardening](https://github.com/dev-sec/chef-ssh-hardening) ? Or even [ssh-baseline](https://github.com/dev-sec/ssh-baseline/blob/master/controls/ssh_spec.rb)?

I'm happy to change this, may I ask you to create PR(s) to the baseline and/or cookbook?

[2018-02-01 13:50] iennae commented on #185
Ahh, you're right. I totally put this in the wrong cookbook. I'm happy to create a PR just wanted to get the feels before I did.

[2018-02-01 17:55] majormoses commented on #183
OK makes sense

[2018-02-02 07:00] #185 closed

[2018-02-06 14:44] bablakely opened #186 "compat_resource deprecated"
When trying to install/upload os-hardening (or compat_resource directly) with knife, it now fails with an error about basename in /opt/chefdk/embedded/lib/ruby/gems/2.4.0/gems/chef-13.6.4/lib/chef/knife/cookbook_site_download.rb:108. Upon further inspection, this appears to be a reference to the name of the replacement repository provided by the supermarket. In the case of compat_resource, there i

[2018-02-08 18:40] bablakely opened #192 "Dependency on pinned, old version of sysctl"
Currently this cookbook depends on sysctl 0.9.0, due to this issue: https://github.com/sous-chefs/sysctl/issues/100.

If I understand the issue correctly:

The sysctl cookbook now creates individual sysctl.d files for various items, instead of merging them all into /etc/sysctl.conf. @artem-sidorenko 's suggested workaround, since the upstream PR is not getting any attention, is to remove any files

[2018-02-12 20:52] bablakely commented on #192
Upon further inspection, sysctl.conf is uninvolved, and all that was needed is to remove the file in node['sysctl']['conf_file'] since this attribute is no longer used by sysctl and the necessary configuration should already be re-created in the new location. Sanity check on that would be appreciated, but I believe it's that simple.

[2018-02-12 21:16] #186 closed

[2018-02-13 13:52] #192 closed

[2018-02-19 11:39] alexanderadam commented on #182
Just to be sure (as this topic is totally new for me):

I'm getting these errors now

[code]

Is this issue here the cause of it and is #191 the solution?

[2018-02-20 09:09] artem-sidorenko opened #198 "Migration to the new major sysctl cookbook version"
sysctl 1.0.0 does not have recipes anymore, everything is done via custom resources. We need to reflect this within chef-os-hardening

[2018-02-21 08:52] artem-sidorenko commented on #182
@alexanderadam it looks a bit weird. Even before #191 we were just installing `auditd`with its default settings, which should be fine usually

[2018-02-21 12:20] alexanderadam commented on #182
@artem-sidorenko this happened on Ubuntu xenial on a VPS. In case that makes any difference.

[2018-02-21 12:47] alexanderadam opened #200 "Make auditd recipe optional"
It causes issues [at least on one machine](https://github.com/dev-sec/chef-os-hardening/issues/182#issuecomment-367309026) and it would be nice still to have the rest of the default recipe.

Maybe in a similar way as [the `suid_sgid` opt in](https://github.com/dev-sec/chef-os-hardening/blob/2d6edc009ac4a87f3f59d086541c21aa25d3147a/recipes/default.rb#L30) like
[code]

[code]

In case this would be

[2018-03-09 15:03] artem-sidorenko commented on #183
Container support is implemented in #199 together with Travis CI configuration. Azure was implemented with puppet-os-hardening: it looks like usage of DO is still a better option:

 - in all options the minimal amount I'm charged is 1 ct, so it does not make sense to go to azure because of costs
 - Azure needs much-much more time to spin up the VM
 - Cheap VMs are much less performant compared to

[2018-03-09 15:03] #183 closed

[2018-03-09 15:04] #200 closed

[2018-03-20 20:43] monisha6791 opened #205 "earlier version"
do we have an earlier version? that works with chef11?

[2018-03-21 19:36] #205 closed

[2018-04-05 22:19] Veraticus commented on #198
I took a stab at this on my fork at: https://github.com/symondsandson/chef-os-hardening/commit/c59808627cd53a58f04f10f249a686a823be8a5c

It works for my servers, though I haven't tried your CI so no idea if it'll integrate.

[2018-04-16 04:45] avanier opened #206 "PAM config prevents launching of GDM on Fedora 27"
As title suggests.
Essentially it seems to be missing the following line :

[code]

in the last block of `rhel_system_auth.erb`.

Will submit PR, but I have no idea of the security implications. The [man page](https://www.freedesktop.org/software/systemd/man/pam_systemd.html) suggests if essentially creates the context for certain systemd units to create a context for the user to login to graphica

[2018-04-23 17:59] ekelson-bcove opened #208 "Bug: unable to use override to disable module"
Bug: node.override['os-hardening']['components'][_package_] does not work.

How to reproduce:
node.override['os-hardening']['components']['login_defs] = false should result in no alteration of /etc/login.defs.  When attempted, login_defs.rb is still executed.

Suspected issue:
https://github.com/dev-sec/chef-os-hardening/blob/master/recipes/default.rb#L31-L33
The setting of the components state sh

[2018-04-24 20:27] ekelson-bcove commented on #208
opened https://github.com/dev-sec/chef-os-hardening/pull/209 to fix

[2018-05-18 15:04] chris-rock commented on #182
Should we rely on https://github.com/chef-cookbooks/auditd for that?

[2018-06-27 12:35] artem-sidorenko commented on #198
Resolved via #210

[2018-06-27 12:35] #198 closed

[2018-06-28 08:46] artem-sidorenko commented on #208
This is strange, even before #209 it should work with overrides. I'll try to reproduce it

[2018-06-28 08:53] artem-sidorenko commented on #208
@ekelson-bcove can you maybe elaborate a bit how you was setting the override value? Was it in some wrapper cookbook? In some recipe or in the attribute file?

[2018-06-28 13:55] ekelson-bcove commented on #208
I was using a wrapper cookbook.  Attributes should be defined in the attribute file anyway (proper pattern).  I was unable to successfully override the vaule..even with node.override...

example:

[code]

[2018-06-29 11:22] artem-sidorenko commented on #208
@ekelson-bcove thanks!

Usually yes, I totally agree. However, there are also some edge cases which force you to use recipes for this purpose.

I can't really reproduce this behaviour, please see [this](https://github.com/artem-experiments/chef-override-test) repository for my test environment. What I see, it basically works as expected:

[code]

- Evaluation order of attributes and recipes looks

[2018-06-29 11:43] artem-sidorenko commented on #208
@ekelson-bcove I added os-hardening to this test setup and tried it with IPv6 (please see the branch [os-hardening](https://github.com/artem-experiments/chef-override-test/tree/os-hardening), overriding works for me fine for both attributes and recipes. Can you please have a look? I guess here is something different to your setup

[2018-06-29 12:43] ekelson-bcove commented on #208
It’s very possible. I will try again.
On Fri, Jun 29, 2018 at 7:43 AM Artem Sidorenko <notifications@github.com>
wrote:

[2018-07-17 09:22] artem-sidorenko commented on #208
@ekelson-bcove I'm closing this: I could not reproduce it, Nevertheless the PR #209 is merged. Feel free to reopen if needed

[2018-07-17 09:22] #208 closed

[2018-07-17 11:22] ekelson-bcove commented on #208
Thanks!
On Tue, Jul 17, 2018 at 5:22 AM Artem Sidorenko <notifications@github.com>
wrote:

[2018-07-19 19:24] aavetis opened #222 "Unclear if exec-sheild is defaulted in RHEL 7"
re: [this change](https://github.com/dev-sec/chef-os-hardening/commit/4d00264eab0762b076fd7d33510291cd0e1e3412#diff-449f82355da0dbeabc68cf39001ab4f0R97),

is this confirmed accurate? running [these inspecs](https://github.com/dev-sec/linux-baseline/blob/master/controls/sysctl_spec.rb) returned:
[code]

OS is
[code]

[2018-07-20 13:13] artem-sidorenko commented on #222
@aavetis as far I remember exec-shield is enabled and not configurable on RHEL7. I can't find the exact source, but some links here:
- https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/pdf/Security_Guide/Red_Hat_Enterprise_Linux-7-Security_Guide-en-US.pdf
- https://github.com/arildjensen/cis-puppet/issues/36
- maybe its here behind the login https://access.redhat.com/solutio

[2018-07-20 13:17] aavetis commented on #222
seems like it is _not_ present in there
[code]

[2018-07-20 13:33] artem-sidorenko commented on #222
@aavetis are you running it virtualised? Which kind of virtualisation is it?

[2018-07-20 13:35] aavetis commented on #222
yes. virtualized using Xen hypervisor, provisioning RHEL 7 (apparently 7.5)

[2018-07-20 13:54] artem-sidorenko commented on #222
@aavetis not sure how to resolve this. From my POV it should fail for you even [here](https://github.com/dev-sec/linux-baseline/blob/b301e7317a55e4a2065d9a5376bcfb1692f2f5af/controls/sysctl_spec.rb#L401).

As `exec-shield` isn't present on RHEL7, we can maybe exclude it from [this](https://github.com/dev-sec/linux-baseline/blob/b301e7317a55e4a2065d9a5376bcfb1692f2f5af/controls/sysctl_spec.rb#L405)

[2018-07-20 17:23] aavetis commented on #222
yes, it does fail at the `nx` check as well. sorry forgot to include that snippet above.

however, i'm not exactly sure what the intended behavior is - is RHEL7 supposed to have `nx`?

if not, perhaps:
[code]
or should the first `nx` test run, and you want to skip the `exec-shield` check specifically? maybe i misunderstood

[2018-07-20 19:47] artem-sidorenko commented on #222
@aavetis there is nothing wrong with NX flag and its also not related to RHEL7, please see [this](https://en.wikipedia.org/wiki/NX_bit) for more information. The question here is why your hypervisor is masking the NX flag and this is the problem. This is also the reason why you faced this exec-shield problem on RHEL7 but not somebody else.

So, NX flag should be always there, but exec-shield can b

[2018-07-31 07:28] artem-sidorenko opened #224 "GRUB hardening and password protection"
It would be cool to have it here, similar to the puppet PR https://github.com/dev-sec/puppet-os-hardening/pull/137

[2018-07-31 16:55] artem-sidorenko commented on #222
@rjhornsby very strange. This should clearly be resolved by #168, which was merged almost a year ago and is part of 3.1.0.

Any chance to get a working `Vagrantfile` where I can easily reproduce this issue?

[2018-07-31 17:10] rjhornsby commented on #222
@artem-sidorenko sure! this is what kitchen generated for a `Vagrantfile` -

[code]

[2018-07-31 17:55] artem-sidorenko commented on #222
@rjhornsby I thought you used vagrant with chef deployer.

I took the current master branch, changed the `.kitchen.yml` like this:

[code]

and did `kitchen verify default-centos-7` and it works fine. Do you have any chance to reproduce it in some setup within this repository, so I can reproduce it too?

[2018-07-31 19:36] rjhornsby commented on #222
Ah crud. This one is my fault, and I totally didn't catch it before when I was looking at our local attrs file.

`default['sysctl']['params']['sys']['kernel']['exec-shield'] = 1`

It must have been a finding from either one of the tests or from one of our scan tools that made me add the attr to explicitly set the kernel param. It's obviously unnecessary. Sorry about that :)

[2018-07-31 20:06] artem-sidorenko commented on #222
@rjhornsby no problem, it happens to everybody :)

[2018-08-16 19:02] sbhakta99 opened #225 "Issue with /etc/pam.d/system-auth-ac on RedHat7"
sudo command NO longer function properly after running the hardening on rhel7 VM.

Here is the existing file that works fine when attempting to run sudo:
#%PAM-1.0
# This file is auto-generated.
# User changes will be destroyed the next time authconfig is run.
auth        required      pam_env.so
auth        sufficient    pam_unix.so try_first_pass
auth        requisite     pam_succeed_if.so uid >

[2018-10-29 12:01] 0x022b opened #230 "Deprecated features used"
**Describe the bug**
Running the latest os-hardening cookbook with the lastest Chef client I get the following warning:

[code]

**Expected behavior**
The run should finish without errors.

**OS / Environment**

This has been verified to happen on CentOS 7 and Ubuntu 18.04.

**Chef Version**

[code]

**Cookbook Version**

[code]

**Additional context**
The sysctl cookbook has been deprecated and n

[2018-10-29 15:27] artem-sidorenko commented on #230
@0x022b thanks for raising this issue! This is related to #228 and will be fixed in the near future with a next major release.

[2018-11-16 18:10] xuejiezhang commented on #102
@chris-rock

Hi Chris,

Do you know why pam-passwdqc gets replaced by pam-pwquality in Centos 7? The official document only says pam-passwdqc is not fully compatible and no detailed info can be found.

Thanks,
Jeff

[2018-12-11 21:19] cstrong84 opened #232 "Missing cookbook Chai"
I downloaded and created the cookbook.  However, when I run it, i get the following error:
Missing Cookbooks:
------------------
The following cookbooks are required by the client but don't exist on the server:
* ohai

If I grep in the code for this cookbook requirement, it does not exist:
Path: /home/<user>/base_linux_install/cookbooks/os-hardening
Grep for entry of chai:
grep -Ri chai *
CONTRIBU

[2018-12-12 14:10] Rockstar04 commented on #232
The cookbook needed is **"Ohai"**. It can be found on the supermarket, [ohai Cookbook](https://supermarket.chef.io/cookbooks/ohai)

The cookbook is not directly reference in the code here, because Ohai is used to gather information about the operating system the cookbook is going to be run against. Without the data from Ohai, the cookbook would not know what specific hardening patches to apply.

[2019-01-02 23:07] JHeinzde commented on #182
Is help still wanted on this issue?

[2019-01-09 08:33] chris-rock commented on #182
@artem-sidorenko Do you think we should stick to the official auditd cookbook and try to use that for configuration?

[2019-01-15 16:01] mattlqx opened #233 "Make a new release?"
Can we get another release please? It's been about 7 months and a couple things have been added. Including my #215 :) Thanks!

[2019-01-15 16:54] eyespies commented on #233
I would like to submit a quick PR before this is done, but if mine cannot be reviewed / approved quick enough, then mine can be added later.

[2019-01-15 16:59] eyespies opened #234 "exec-shield incompatible with Oracle Linux UEK"
**Describe the bug**
Running this cookbook on Oracle Linux with UEK fails. According to the Oracle documentation, this feature (exec-shield) has been removed from UEK, including Oracle Linux 6 and 7. Details are available at https://support.oracle.com/epmos/faces/DocumentDisplay?_afrLoop=282729127294508&id=2334296.1&_afrWindowMode=0&_adf.ctrl-state=aqumhm587_4 for anyone (unfortunately) with an Or

[2019-01-15 17:00] eyespies commented on #233
I've opened #234 and will be submitting a PR shortly.

[2019-01-16 09:20] artem-sidorenko commented on #233
@mattlqx 3.2.0 is released. Thank for heads up and sorry for such delay.

@eyespies I'll review #234 in the next time, after it gets merged I'll release the next minor

[2019-01-16 09:20] #233 closed

[2019-02-04 15:21] JamesFrost opened #236 "Audit Daemon Fails on Amazon Linux 2"
**Describe the bug**
Tested against [chef-os-hardening](https://github.com/dev-sec/chef-os-hardening).

**Expected behavior**
Tests should pass.

**Actual behavior**
Tests fail.
[code]

**Example code**

Policy File
[code]

.kitchen.yml
[code]

**OS / Environment**

**Inspec Version**

[code]

**Baseline Version**

[code]

**Additional context**
Using the [kitchen-ec2](https://github.com/test-kitc

[2019-02-14 22:40] sean-nixon opened #237 "execute[update-pam] resource fails on Ubuntu 14.04 on Azure"
**Describe the bug**
`update-pam` resource fails on Ubuntu 14.04.5 running on Azure with error `Errno::ENOENT: No such file or directory - pam-auth-update`. I am able to run this command locally and the error no longer occurs on the next run. However, it reappears again later. Oddly enough, I've not seen this error when running in Test Kitchen (neither on Azure nor using the bento Vagrant image fo

[2019-02-23 07:03] artem-sidorenko commented on #237
@sean-nixon thanks for raising this issue. Are you able to reproduce this issue?

[2019-02-25 16:49] sean-nixon commented on #237
@artem-sidorenko I am. I just created a new Ubuntu 14.04 node in Azure and am seeing the same error. If I run chef-client directly, it works fine, however. I believe it's an environment issue with the Azure Chef extension. It's creating a crontab entry and not setting the path to include /usr/sbin. Any possibility of updating the recipe to use an absolute path?

[2019-02-25 17:05] artem-sidorenko commented on #237
@sean-nixon I saw already similar issues in some other areas with cloud images :(

Before we discuss the option to add the full path within this cookbook, is there any option to inform the developers of Azure Chef extension about that issue? It should fail with lots of other cookbooks too, so I would like to see this issue ideally be fixed properly in the area, where it's also located...

[2019-02-25 18:18] sean-nixon commented on #237
I've [raised an issue with them.](https://github.com/chef-partners/azure-chef-extension/issues/268) so we can see what they say.

Would it not be more secure, though, to invoke the command using the full path and not rely on it being in the path? I'm not sure if there's complexity regarding different paths on different distros/versions.

[2019-02-25 19:23] artem-sidorenko commented on #237
@sean-nixon it should be fine as `pam-auth-update` gets executed only on debian family, so it's unlikely to get a mismatch on different distributions.

I had a look to the issue: the /usr/`s`bin is probably the reason why it's not in the default PATH. Not sure how this gets handled.

I think it's not a problem to add `/usr/sbin` here for `pam-auth-update`. @chris-rock any other view?

[2019-02-25 21:31] sean-nixon commented on #237
I took the liberty to submit a pull request with the suggested fix pending Chris's feedback.

[2019-03-04 10:55] marcomoscatiello commented on #230
got in the same issue too using chef 14.8 , hope it get sorted soon

[2019-03-06 07:23] #237 closed

[2019-03-06 07:39] artem-sidorenko commented on #234
Resolved via #235

[2019-03-06 07:39] #234 closed

[2019-03-06 07:41] artem-sidorenko commented on #236
@JamesFrost thanks for raising this issue! I'm closing it in favour of #182 , any help&support appreciated

[2019-03-06 07:41] #236 closed

[2019-03-06 07:44] artem-sidorenko commented on #182
@chris-rock usually yes - if it works, can be easily done and saves implementation/maintenance efforts. On the other side - if our own implementation ends up in just a simple template/service/file resource, when we should avoid the dependency from my view.

[2019-03-06 07:46] artem-sidorenko commented on #225
@sbhakta99 thanks for raising this issue! Any idea how to reproduce it? (I can't)

Are you sure your problem is related to hardening? I'm running this cookbook on several RHEL systems - without any problems..

[2019-03-06 07:48] artem-sidorenko commented on #222
@aavetis I'm going to close this issue, as there was no further communication/information related to the initial problem. Feel free to reopen if needed

[2019-03-06 07:48] #222 closed

[2019-03-12 07:40] artem-sidorenko commented on #230
Resolved with #228. I want to have/add some other cleanups and refactorings to the new major release, it will take a little time to see this released.

[2019-03-12 07:40] #230 closed

[2019-03-19 13:48] jcberthon commented on #222
Just to clarify a few things. I have read the RHEL article and basically they state that Exec Shield is still active but can no longer be deactivated, hence there is no need for a sysctl option.

As for NX, this is related but independant as AFAIK you could have NX without Exec Shield. To check for NX activation:

    sudo dmesg | grep '[NX|DX]*protection'

*Note: depending on your distro/hardenin

[2019-04-10 07:39] artem-sidorenko opened #248 "Failing centos 7 dokken tests in the CI"
**Describe the bug**
CentOS 7 tests in dokken fail in the CI due to selinux testing

**Expected behavior**
CentOS 7 dokken tests should run properly in the CI

**Actual behavior**
https://travis-ci.org/dev-sec/chef-os-hardening/jobs/517959153

**Additional context**
The problem is due to `selinux_enabled` test suite in the `.kitchen.yml`. This suite gets executed for dokken testing too and the tes

[2019-04-10 07:58] artem-sidorenko opened #250 "Failing OpenSuse CI job"
**Describe the bug**
OpenSuse CI job is failing constantly https://travis-ci.org/dev-sec/chef-os-hardening/jobs/517959157

**Expected behavior**
It should pass

**Additional context**
it looks like a problem with wrong membership of /etc/shadow either here or in the linux-baseline.

[2019-04-10 13:31] oneandoneis2 opened #253 "undefined method `sysctl' for cookbook: os-hardening"
**Describe the bug**
A cookbook that was working perfectly before is now erroring due to its os-hardening dependency

**Expected behavior**
There should be no "method undefined" errors

**Actual behavior**

[code]

**OS / Environment**

Ubuntu 18.04

**Chef Version**

[code]

**Cookbook Version**

[code]

**Additional context**
Add any other context about the problem here.

[2019-04-10 14:12] artem-sidorenko commented on #253
@oneandoneis2 thanks for raising the issue. We switched to the sysctl implementation of chef in #228. This is leading to the issue on your side. I'll have a look. As a workaround for now you can pin the cookbook to the major version 3 on your side, like

[code]

[2019-04-10 14:35] artem-sidorenko commented on #253
@oneandoneis2 is `chef -v` maybe from your development system? I see in your packer output chef 13:

[code]

Chef 13 is EOL already for a while, with chef-os-hardening 4.0.0 we dropped the support of chef 13.

If you want to continue using chef 13, you should pin the cookbook version like in the example above.

[2019-04-10 14:58] oneandoneis2 commented on #253
Thanks for the quick replies!

Pinning to the previous version does indeed fix things for now. I'd missed that packer was still running the v13 chef - guess it's time to write up an upgrade ticket!

Cheers!

[2019-04-10 15:07] #253 closed

[2019-04-24 21:54] phanikumar1210 opened #254 "Chef client failing on OS restart with Amazon Linux"
**Describe the bug**
When running the chef client without any Amazon Linux 1 VM restart , chef-client is working good. Once there was a restart of VM, I am getting following error for all sub sequence chef-client runs

**Expected behavior**
Chef-client to run without any errors
**Actual behavior**

[code]

**Example code**

[code]

**OS / Environment**
Amazon Linux 1

**Chef Version**

[code]

**C

[2019-04-26 11:07] artem-sidorenko commented on #254
@phanikumar1210 Thanks for raising this issue! Unfortunately I can't reproduce it with test-kitchen and vagrant in this repo, I tried:
1. kitchen verify default-amazonlinux-1
2. kitchen login
3. sudo reboot
4. wait a bit
5. kitchen converge default-amazonlinux-1

Could you maybe check if you have something, what prevents loading of ipv6 kernel module?
E.g. you can try this:
[code]

if you get some

[2019-04-26 12:57] phanikumar1210 commented on #254
I am getting following response for grep -i ipv6 /etc/modprobe.d/*

 /etc/modprobe.d/CIS.conf:options ipv6 disable=1

[2019-04-26 13:29] phanikumar1210 commented on #254
Removing options ipv6 disable=1 option from /etc/modprobe.d/CIS.conf resolved the issue.

[2019-04-26 13:39] artem-sidorenko commented on #254
Yeah, we also handle this requirement, but [differently](https://github.com/dev-sec/chef-os-hardening/blob/9643c9233333d47071c769051a75e489b9d4a951/recipes/sysctl.rb#L53-L55). The official recommended way is not to blacklist the IPv6 module (as it leads to different problems), but to use `net.ipv6.conf.all.disable_ipv6` for that. I can't find the link anymore, but I remember this was some recommen

[2019-04-26 13:39] #254 closed

[2019-05-10 20:09] Raghureddy4545 opened #255 "os-hardening::profile recipe creating pinerolo_profile.sh file with .old extension on each chef-client run"

[2019-05-13 13:38] #255 closed

[2019-10-04 14:15] Rudikza opened #257 "Idemptoteny issues: "check package signature in repo files" and "remove_suid_from_blacklists""
**Describe the bug**
When running kitchen acceptance testing with the `enforce_idempotency: true` option set under the provisioner.

**Expected behavior**
On multiple chef runs, when nothing changes, no changes should be made.

**Actual behavior**
Two resources are updated even though the SUT hasn't changed:

[code]
**Example code**
[code]

**OS / Environment**

Target version of OS is Centos 7. I

[2019-10-20 07:32] Miftahunajat commented on #224
Can you explain a bit of the detail ? @artem-sidorenko

[2019-10-23 20:36] artem-sidorenko commented on #224
@Miftahunajat the idea is to have the password protection for grub, so you can't easily manipulate the kernel parameters during the boot process of the system. Example puppet implementation is here https://github.com/dev-sec/puppet-os-hardening/pull/137/files

[2020-02-17 19:54] b-dean commented on #182
Is this stuck waiting on someone to rebase #191?

[2020-02-17 20:59] chris-rock commented on #182
@b-dean It would definitely make live for reviewers a lot easier.

[2020-02-17 21:24] b-dean commented on #182
@chris-rock I'm not sure how I can update his PR, or if I should make another one, but I rebased @bablakely's `auditd` branch onto `master`

https://github.com/dev-sec/chef-os-hardening/compare/master...b-dean:auditd

[2020-02-24 16:42] artem-sidorenko commented on #182
@b-dean that looks great! May I ask you to open a new PR?

[2020-03-25 20:47] sean-nixon commented on #257
I too would love to see this fixed.

[2020-04-08 23:27] puneetloya opened #261 "pam-auth-update --package prompts interactive debconf"
**Describe the bug**
[code]
pam-auth-update --package prompts for debconf during the chef-run and it fails

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**
  * execute[update-pam] action run

    ================================================================================
    Error executing action `run` on resource 'execute[update-pam

[2020-05-18 16:47] f0rkz commented on #208
I confirm this... Overrides don't seem to work. This is super strange.

[2020-05-21 00:49] sean-nixon opened #262 "Chef warning when /bin/su is a symlink"
**Describe the bug**
On some distributions, `/bin/su` is a symlink. Running the latest version of this cookbook on such systems results in a warning that `manage_symlink_source` is not set and that it will not be enabled by default in a future release (resulting in broken behavior).

**Expected behavior**
Running this cookbook should not result in deprecation warnings on systems where `/bin/su` is

[2020-05-22 07:58] #262 closed

[2020-06-10 19:57] eric-chennells opened #264 "Configuration conflict when using both chef-ssh-hardening and chef-os-hardening"
**Describe the bug**
chef-ssh-hardening disables ssh password authentication, but chef-os-hardening sets the password expiry to 60 days.

If a system has both of these applied, users will be using ssh key based authentication and may not have a local password set.  In this case after 60 days they are unable to login because they are prompted to change their password which they don't have.

**Expec

[2020-06-12 21:47] eric-chennells commented on #264
It seems like disabling the max age for the password (by setting the value to -1) is the solution, as outlined here https://github.com/dev-sec/chef-os-hardening/issues/58

[2020-06-12 21:47] #264 closed

[2020-12-24 01:33] flybd5 opened #265 "chef exec rake lint fails, foodcritic deprecated"
Command `chef exec rake lint` fails, foodcritic has apparently been deprecated, recommends using `cookstyle`

[code]
Running foodcritic returns:
[code]
[code]
[code]

[2021-02-09 20:32] bcg62 opened #267 "pwquality.conf defaults or suggested config"
**Is your feature request related to a problem? Please describe.**
pwquality is installed and configured for pam but the config is not touched. is the default recommended?

**Describe the solution you'd like**
Add template and default settings if needed.

[2021-02-10 17:00] bcg62 commented on #267
nevermind, sorry. I see you can use `node['os-hardening']['auth']['pam']['pwquality']['options']`

[2021-02-10 17:00] #267 closed

[2021-03-19 17:22] mfortin opened #270 "Amazon Linux 2 Auditd fails to restart"
**Describe the bug**
Amazon Linux 2 fails to restart auditd service to apply changes.
**Expected behavior**
Service restart successfully

**Actual behavior**

[code]

**Example code**

[code]

**OS / Environment**

**Chef Version**

[code]

**Cookbook Version**

[code]

**Additional context**
CentOS 7+ and Fedora 27+ had the same issue which is resolved by running `service auditd restart`. This al

[2021-03-22 11:17] mfortin opened #272 "Linux Baseline tests are failing for os-13"
**Describe the bug**
Controls for test os-13 from the linux baseline is failing.

**Expected behavior**
`Pass` results for those tests.

**Actual behavior**

[code]

**Example code**

[code]

**OS / Environment**

Ubuntu 16.04
Ubuntu 18.04
Oracle 7
Fedora 27
Fedora 28
Amazon Linux 2
and possibly others

**Chef Version**

[code]

**Cookbook Version**

[code]

**Additional context**
See job logs her

[2021-03-24 09:36] #270 closed